In [4]:
import pandas as pd

time_sentences = ["Monday: The doctor's appointment is at 2:45pm.", 
                  "Tuesday: The dentist's appointment is at 11:30 am.",
                  "Wednesday: At 7:00pm, there is a basketball game!",
                  "Thursday: Be back home by 11:15 pm at the latest.",
                  "Friday: Take the train at 08:10 am, arrive at 09:00am."]

df = pd.DataFrame(time_sentences, columns=['text']) # class pandas.DataFrame(data=None, index=None, columns=None, dtype=None, copy=False)
df # only has one column 'text' and each entry is a string containing a day of the week and a time

                                                text
0     Monday: The doctor's appointment is at 2:45pm.
1  Tuesday: The dentist's appointment is at 11:30...
2  Wednesday: At 7:00pm, there is a basketball game!
3  Thursday: Be back home by 11:15 pm at the latest.
4  Friday: Take the train at 08:10 am, arrive at ...

In [34]:
# string processing methods
# Series and Index are equipped with a set of str that make it easy to operate on each element in the series

df['text'].str.len() # applying str.len to the text column
# 0    46 # the number of character for each string in the series
# 1    50
# 2    49
# 3    49
# 4    54
# Name: text, dtype: int64

df['text'].str.split().str.len()
# 0     7 # the number of tokens for each string in the series
# 1     8
# 2     8
# 3    10
# 4    10
# Name: text, dtype: int64

df['text'].str.contains('appointment')
# 0     True # find which entires contain the word 'appointment'
# 1     True
# 2    False
# 3    False
# 4    False
# Name: text, dtype: bool

df['text'].str.count(r'\d')
# 0    3 # find how many times a digit occurs in each string by str.count
# 1    4
# 2    3
# 3    4
# 4    8
# Name: text, dtype: int64

df['text'].str.findall(r'\d')
# 0                   [2, 4, 5] # find out what these occurences are by str.finall
# 1                [1, 1, 3, 0]
# 2                   [7, 0, 0]
# 3                [1, 1, 1, 5]
# 4    [0, 8, 1, 0, 0, 9, 0, 0]
# Name: text, dtype: object

df['text'].str.findall(r'(\d?\d):(\d\d)') # find out the hours and minutes
# 0               [(2, 45)]
# 1              [(11, 30)]
# 2               [(7, 00)]
# 3              [(11, 15)]
# 4    [(08, 10), (09, 00)]
# Name: text, dtype: object
        
df['text'].str.replace(r'\w+day\b', '???')
# 0          ???: The doctor's appointment is at 2:45pm. # replace weekdays with '???'
# 1       ???: The dentist's appointment is at 11:30 am.
# 2          ???: At 7:00pm, there is a basketball game!
# 3         ???: Be back home by 11:15 pm at the latest.
# 4    ???: Take the train at 08:10 am, arrive at 09:...
# Name: text, dtype: object

df['text'].str.replace(r'(\w+day\b)', lambda x: x.groups()[0][:3])
# 0          Mon: The doctor's appointment is at 2:45pm. # replace weekdays with 3 letter abbrevations
# 1       Tue: The dentist's appointment is at 11:30 am.
# 2          Wed: At 7:00pm, there is a basketball game!
# 3         Thu: Be back home by 11:15 pm at the latest.
# 4    Fri: Take the train at 08:10 am, arrive at 09:...
# Name: text, dtype: object

df['text'].str.extract(r'(\d?\d):(\d\d)')
#    0  1 # create a new column by str.extract
# 0 2  45
# 1 11 30
# 2 7  00
# 3 11 15
# 4 08 10

df['text'].str.extractall(r'((\d?\d):(\d\d) ?([ap]m))')
# .. # extract the entire time, the hours, the minutes, and the period 

df['text'].str.extractall(r'(?P<time>(?P<hour>\d?\d):(?P<minute>\d\d) ?(?P<period>[ap]m))')
# .. # extract the entire time, the hours, the minutes, and the period with group names

C:\Users\yaffy\Anaconda2\lib\site-packages\ipykernel_launcher.py:68: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)

             time hour minute period
  match
0 0        2:45pm    2     45     pm
1 0      11:30 am   11     30     am
2 0        7:00pm    7     00     pm
3 0      11:15 pm   11     15     pm
4 0      08:10 am   08     10     am
  1       09:00am   09     00     am